APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=saas_template
DB_USERNAME=root
DB_PASSWORD=

REDIS_HOST=127.0.0.1
TENANCY_RESOLUTION=path
TRUSTED_PROXIES=*
DEMO_ADMIN_EMAIL=admin@demo.test
DEMO_ADMIN_PASSWORD=password
